In [43]:
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix, accuracy_score

In [44]:
data = pd.read_csv(r"Churn_Modelling.csv") 
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [46]:
data.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [47]:
data.drop(columns= ['RowNumber', 'CustomerId', 'Surname'], axis =1 , inplace = True) 
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [48]:
data['Geography']= data['Geography'].map({'France' : 0, 'Germany' : 1, 'Spain' : 2}) 
data['Gender']= data['Gender'].map({'Male' : 0, 'Female' : 1})

In [49]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,0,1,42,2,0.00,1,1,1,101348.88,1
1,608,2,1,41,1,83807.86,1,0,1,112542.58,0
2,502,0,1,42,8,159660.80,3,1,0,113931.57,1
3,699,0,1,39,1,0.00,2,0,0,93826.63,0
4,850,2,1,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,0,0,39,5,0.00,2,1,0,96270.64,0
9996,516,0,0,35,10,57369.61,1,1,1,101699.77,0
9997,709,0,1,36,7,0.00,1,0,1,42085.58,1
9998,772,1,0,42,3,75075.31,2,1,0,92888.52,1
9999,792,0,1,28,4,130142.79,1,1,0,38190.78,0

In [50]:
# Features

x = data.iloc[:, :-1]
x = np.array(x)
x

array([[6.1900000e+02, 0.0000000e+00, 1.0000000e+00, ..., 1.0000000e+00,
        1.0000000e+00, 1.0134888e+05],
       [6.0800000e+02, 2.0000000e+00, 1.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 1.1254258e+05],
       [5.0200000e+02, 0.0000000e+00, 1.0000000e+00, ..., 1.0000000e+00,
        0.0000000e+00, 1.1393157e+05],
       ...,
       [7.0900000e+02, 0.0000000e+00, 1.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 4.2085580e+04],
       [7.7200000e+02, 1.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        0.0000000e+00, 9.2888520e+04],
       [7.9200000e+02, 0.0000000e+00, 1.0000000e+00, ..., 1.0000000e+00,
        0.0000000e+00, 3.8190780e+04]])

In [51]:
# Output

y=data.iloc[:, -1]
y=np.array(y)
y

array([1, 0, 1, ..., 1, 1, 0], dtype=int64)

In [52]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.25, random_state=0)

In [53]:
sc=StandardScaler() 
x_train= sc.fit_transform(x_train) 
x_test = sc.transform(x_test)

In [62]:
# Creating model 

ann = tf.keras.models.Sequential() 
# Adding 2 hidden layers 
ann.add(tf.keras.layers.Dense(units=6, activation='relu')) 
ann.add(tf.keras.layers.Dense(units=6, activation='relu')) 
# Adding final layer 
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid')) 
ann.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy']) 
ann_hist = ann.fit(x_train, y_train, validation_split= 0.2, validation_data= (x_test, y_test), epochs = 100)

Epoch 1/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6394 - loss: 0.6472 - val_accuracy: 0.7968 - val_loss: 0.4930
Epoch 2/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8011 - loss: 0.4869 - val_accuracy: 0.8084 - val_loss: 0.4584
Epoch 3/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8123 - loss: 0.4571 - val_accuracy: 0.8140 - val_loss: 0.4439
Epoch 4/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8072 - loss: 0.4520 - val_accuracy: 0.8100 - val_loss: 0.4362
Epoch 5/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8181 - loss: 0.4347 - val_accuracy: 0.8160 - val_loss: 0.4331
Epoch 6/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8257 - loss: 0.4161 - val_accuracy: 0.8176 - val_loss: 0.4304
Epoch 7/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8122 - loss: 0.4371 - val_accuracy: 0.8188 - val_loss: 0.4270
Epoch 8/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8112 - loss: 0.4352 - val_accuracy: 0.8208 - val_loss: 0.4267
Epoch 9/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8223 - loss: 0.4213 - val_accuracy: 0.8216 - val_loss: 0.4245
Epoch 10/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8195 - loss: 0.4186 - val_accuracy: 0.8244 - val_loss: 0.4206
Epoch 11/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8191 - loss: 0.4129 - val_accuracy: 0.8244 - val_loss: 0.4191
Epoch 12/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8145 - loss: 0.4229 - val_accuracy: 0.8264 - val_loss: 0.4162
Epoch 13/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8097 - loss: 0.4267 - val_accuracy: 0.8272 - val_loss: 0.4138
Epoch 14/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8242 - loss: 0.4145 - val_accuracy: 0.8240 - val_loss: 0.4130
Epoch 15/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8232 - loss: 0.4155 - val_accuracy: 0.8276 - val_loss: 0.4096
Epoch 16/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8208 - loss: 0.4074 - val_accuracy: 0.8264 - val_loss: 0.4085
Epoch 17/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8306 - loss: 0.3989 - val_accuracy: 0.8240 - val_loss: 0.4081
Epoch 18/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8290 - loss: 0.3970 - val_accuracy: 0.8264 - val_loss: 0.4046
Epoch 19/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8247 - loss: 0.4014 - val_accuracy: 0.8272 - val_loss: 0.4032
Epoch 20/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8263 - loss: 0.4014 - val_accuracy: 0.8284 - val_loss: 0.4009
Epoch 21/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8193 - loss: 0.3992 - val_accuracy: 0.8292 - val_loss: 0.4001
Epoch 22/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8306 - loss: 0.3902 - val_accuracy: 0.8284 - val_loss: 0.3978
Epoch 23/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8233 - loss: 0.3906 - val_accuracy: 0.8304 - val_loss: 0.3966
Epoch 24/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8248 - loss: 0.3901 - val_accuracy: 0.8300 - val_loss: 0.3935
Epoch 25/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8265 - loss: 0.3911 - val_accuracy: 0.8324 - val_loss: 0.3924
Epoch 26/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8307 - loss: 0.3910 - val_accuracy: 0.8324 - val_loss: 0.3931
Epoch 27/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8401 - loss: 0.3646 - val_accuracy: 0.8292 - val_loss: 0.3906
Epoch 28/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8325 - loss: 0.3765 - val_accuracy: 0.8332 - val_loss: 0.3874
Epoch 29/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8308 - loss: 0.3793 - val_accuracy: 0.8344 - val_loss: 0.3850
Epoch 30/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8357 - loss: 0.3735 - val_accuracy: 0.8324 - val_loss: 0.3848
Epoch 31/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8248 - loss: 0.3883 - val_accuracy: 0.8340 - val_loss: 0.3812
Epoch 32/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8329 - loss: 0.3755 - val_accuracy: 0.8340 - val_loss: 0.3809
Epoch 33/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8333 - loss: 0.3743 - val_accuracy: 0.8476 - val_loss: 0.3785
Epoch 34/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8417 - loss: 0.3718 - val_accuracy: 0.8488 - val_loss: 0.3794
Epoch 35/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8416 - loss: 0.3626 - val_accuracy: 0.8488 - val_loss: 0.3761
Epoch 36/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8336 - loss: 0.3804 - val_accuracy: 0.8496 - val_loss: 0.3745
Epoch 37/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8465 - loss: 0.3660 - val_accuracy: 0.8488 - val_loss: 0.3729
Epoch 38/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8489 - loss: 0.3610 - val_accuracy: 0.8516 - val_loss: 0.3736
Epoch 39/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8444 - loss: 0.3685 - val_accuracy: 0.8496 - val_loss: 0.3713
Epoch 40/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8512 - loss: 0.3645 - val_accuracy: 0.8520 - val_loss: 0.3742
Epoch 41/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8496 - loss: 0.3605 - val_accuracy: 0.8492 - val_loss: 0.3692
Epoch 42/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8485 - loss: 0.3608 - val_accuracy: 0.8524 - val_loss: 0.3668
Epoch 43/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8368 - loss: 0.3779 - val_accuracy: 0.8520 - val_loss: 0.3673
Epoch 44/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8452 - loss: 0.3647 - val_accuracy: 0.8528 - val_loss: 0.3668
Epoch 45/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8402 - loss: 0.3729 - val_accuracy: 0.8540 - val_loss: 0.3656
Epoch 46/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8467 - loss: 0.3609 - val_accuracy: 0.8532 - val_loss: 0.3628
Epoch 47/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8431 - loss: 0.3681 - val_accuracy: 0.8524 - val_loss: 0.3646
Epoch 48/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8383 - loss: 0.3725 - val_accuracy: 0.8552 - val_loss: 0.3607
Epoch 49/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8537 - loss: 0.3539 - val_accuracy: 0.8532 - val_loss: 0.3639
Epoch 50/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8576 - loss: 0.3472 - val_accuracy: 0.8536 - val_loss: 0.3662
Epoch 51/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8515 - loss: 0.3569 - val_accuracy: 0.8548 - val_loss: 0.3596
Epoch 52/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8494 - loss: 0.3591 - val_accuracy: 0.8556 - val_loss: 0.3607
Epoch 53/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8496 - loss: 0.3574 - val_accuracy: 0.8552 - val_loss: 0.3595
Epoch 54/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8454 - loss: 0.3648 - val_accuracy: 0.8564 - val_loss: 0.3588
Epoch 55/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8483 - loss: 0.3571 - val_accuracy: 0.8564 - val_loss: 0.3615
Epoch 56/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8468 - loss: 0.3593 - val_accuracy: 0.8548 - val_loss: 0.3561
Epoch 57/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8484 - loss: 0.3624 - val_accuracy: 0.8564 - val_loss: 0.3550
Epoch 58/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8539 - loss: 0.3572 - val_accuracy: 0.8564 - val_loss: 0.3611
Epoch 59/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8600 - loss: 0.3530 - val_accuracy: 0.8584 - val_loss: 0.3560
Epoch 60/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8470 - loss: 0.3628 - val_accuracy: 0.8560 - val_loss: 0.3565
Epoch 61/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8572 - loss: 0.3499 - val_accuracy: 0.8552 - val_loss: 0.3587
Epoch 62/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8493 - loss: 0.3656 - val_accuracy: 0.8584 - val_loss: 0.3548
Epoch 63/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8545 - loss: 0.3569 - val_accuracy: 0.8560 - val_loss: 0.3556
Epoch 64/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8530 - loss: 0.3530 - val_accuracy: 0.8556 - val_loss: 0.3528
Epoch 65/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8593 - loss: 0.3486 - val_accuracy: 0.8560 - val_loss: 0.3572
Epoch 66/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8517 - loss: 0.3532 - val_accuracy: 0.8548 - val_loss: 0.3547
Epoch 67/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8473 - loss: 0.3638 - val_accuracy: 0.8568 - val_loss: 0.3535
Epoch 68/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8555 - loss: 0.3435 - val_accuracy: 0.8580 - val_loss: 0.3523
Epoch 69/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8498 - loss: 0.3587 - val_accuracy: 0.8580 - val_loss: 0.3517
Epoch 70/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8491 - loss: 0.3608 - val_accuracy: 0.8588 - val_loss: 0.3523
Epoch 71/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8513 - loss: 0.3608 - val_accuracy: 0.8592 - val_loss: 0.3515
Epoch 72/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8565 - loss: 0.3491 - val_accuracy: 0.8560 - val_loss: 0.3535
Epoch 73/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8511 - loss: 0.3675 - val_accuracy: 0.8572 - val_loss: 0.3551
Epoch 74/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8532 - loss: 0.3591 - val_accuracy: 0.8580 - val_loss: 0.3533
Epoch 75/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8531 - loss: 0.3619 - val_accuracy: 0.8592 - val_loss: 0.3504
Epoch 76/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8557 - loss: 0.3508 - val_accuracy: 0.8588 - val_loss: 0.3497
Epoch 77/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8571 - loss: 0.3442 - val_accuracy: 0.8540 - val_loss: 0.3574
Epoch 78/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8535 - loss: 0.3611 - val_accuracy: 0.8588 - val_loss: 0.3506
Epoch 79/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8641 - loss: 0.3461 - val_accuracy: 0.8556 - val_loss: 0.3537
Epoch 80/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8604 - loss: 0.3451 - val_accuracy: 0.8588 - val_loss: 0.3526
Epoch 81/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8531 - loss: 0.3571 - val_accuracy: 0.8600 - val_loss: 0.3508
Epoch 82/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8524 - loss: 0.3539 - val_accuracy: 0.8560 - val_loss: 0.3516
Epoch 83/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8621 - loss: 0.3467 - val_accuracy: 0.8560 - val_loss: 0.3533
Epoch 84/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8632 - loss: 0.3432 - val_accuracy: 0.8564 - val_loss: 0.3549
Epoch 85/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8627 - loss: 0.3429 - val_accuracy: 0.8600 - val_loss: 0.3496
Epoch 86/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8533 - loss: 0.3511 - val_accuracy: 0.8588 - val_loss: 0.3512
Epoch 87/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8563 - loss: 0.3470 - val_accuracy: 0.8560 - val_loss: 0.3529
Epoch 88/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8563 - loss: 0.3468 - val_accuracy: 0.8600 - val_loss: 0.3501
Epoch 89/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8539 - loss: 0.3517 - val_accuracy: 0.8600 - val_loss: 0.3479
Epoch 90/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8508 - loss: 0.3578 - val_accuracy: 0.8568 - val_loss: 0.3531
Epoch 91/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8595 - loss: 0.3429 - val_accuracy: 0.8576 - val_loss: 0.3511
Epoch 92/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8527 - loss: 0.3559 - val_accuracy: 0.8560 - val_loss: 0.3536
Epoch 93/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8555 - loss: 0.3538 - val_accuracy: 0.8620 - val_loss: 0.3497
Epoch 94/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8565 - loss: 0.3443 - val_accuracy: 0.8564 - val_loss: 0.3506
Epoch 95/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8549 - loss: 0.3485 - val_accuracy: 0.8580 - val_loss: 0.3520
Epoch 96/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8528 - loss: 0.3573 - val_accuracy: 0.8588 - val_loss: 0.3532
Epoch 97/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8566 - loss: 0.3499 - val_accuracy: 0.8592 - val_loss: 0.3493
Epoch 98/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8545 - loss: 0.3564 - val_accuracy: 0.8628 - val_loss: 0.3470
Epoch 99/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8598 - loss: 0.3560 - val_accuracy: 0.8604 - val_loss: 0.3480
Epoch 100/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8551 - loss: 0.3492 - val_accuracy: 0.8620 - val_loss: 0.3469

In [63]:
y_pred = ann.predict(x_test)
y_pred

79/79 ━━━━━━━━━━━━━━━━━━━━ 0s 911us/step

array([[0.22842866],
       [0.39529747],
       [0.10994507],
       ...,
       [0.2518819 ],
       [0.157563  ],
       [0.06294714]], dtype=float32)

In [64]:
y_pred = (y_pred>0.5) 
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [65]:
cm= confusion_matrix(y_test, y_pred) 
print(cm)
accuracy_score(y_test, y_pred)

[[1916   75]
 [ 270  239]]

0.862