In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC 
from sklearn.metrics import confusion_matrix,accuracy_score

In [2]:
data1=pd.read_csv(r"heart_failure_clinical_records_dataset.csv")
data1

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0

In [3]:
X=data1.iloc[:,:-1].values 
Y=data1.iloc[:,-1].values 
X_train, X_test, Y_train, Y_test= train_test_split(X,Y,test_size=0.2,random_state=1)

In [4]:
classifier=SVC() 
classifier.fit(X_train,Y_train) 
y_pred=classifier.predict(X_test) 
cm=confusion_matrix(Y_test,y_pred) 
cm,accuracy_score(Y_test,y_pred)

(array([[46,  0],
        [14,  0]], dtype=int64),
 0.7666666666666667)